<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{meta.airport_name}}</title>
    <script src="index.js"></script>
</head>
<body>
<h1>{{meta.airport_name}}
    {{#if meta.icao_ident}}({{meta.icao_ident}})
    {{else}}({{meta.apt_ident}})
    {{/if}}
</h1>
<div>

</div>
<a href="../{{meta.apt_ident}}.json">Raw JSON</a>
<h1>Charts</h1>
{{#each records}}
    <p>{{chart_name}}, <a href="http://aeronav.faa.gov/d-tpp/{{../meta.cycle}}/{{pdf_name}}" target="_blank">{{pdf_name}}</a></p>
{{/each}}
</body>
</html>